.runners{ 
    height: 100px;
    width: 100px;
}
#carRed{
    background-color: red;
}
#carOrange{
    background-color: orange;
}
#carYellow{
    background-color: yellow;
}
#carGreen{
    background-color: green;
}
#carBlue{
    background-color: blue;
}